:root {
    --color-nav-bg: #FF90BC;
    --color-bg: #F9F9E0;
    --color-light-blue: #8ACDD7;
    --color-light-pink: #FFC0D9;
    --color-dark-blue: #67A2C5;

    --text-nav: "Stack Sans Headline", sans-serif;
    --text-body: "Mozilla Text", sans-serif;

    --global-padding: 24px 36px;
}