@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Stack+Sans+Headline:wght@200..700&display=swap');

@import "./_variables.css";
@import "./_typography.css";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
}

/* Navigation */
header nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--color-nav-bg);

    li a {
        padding: 16px 24px;
        display: block;
        text-decoration: none;
        color: white;
        font-family: var(--text-nav);
        font-weight: bold;

        &:hover {
            background-color: var(--color-light-pink);
        }
    }
}

main {
    max-width: 900px;
    margin: 0 auto;
}

hr {
    height: 3px;
    background-color: var(--color-nav-bg);
}

/* Profile section */
.profile {
    display: flex;
    padding: 24px 36px;
    gap: 24px;

    .pic {
        width: 250px;
        height: 250px;
        background-image: url("../assets/profile-pic.jpeg");
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        border: 5px solid var(--color-light-pink);
    }

    .summary {
        width: 70%;
        text-align: justify;
        h2 {
            text-align: left;
            color: var(--color-nav-bg);
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        .summary {
            width: 100%;
            h2 {
                text-align: center;
            }
        }
    }
}

/* Education section */
.education {
    padding: 24px 36px;
    list-style: none;

    li {
        margin-bottom: 24px;
        padding: 16px;
        border: 2px solid var(--color-dark-blue);
        border-radius: 5px;
        box-shadow: 5px 5px 5px var(--color-dark-blue);
        /* background-color: #FFEBD3; */

        &:last-child {
            margin-bottom: 0;;
        }
    }

    h4 {
        color: var(--color-dark-blue);
        a {
            color: var(--color-dark-blue);
            &:hover {
                text-decoration: underline;
            }
        }
    }

    h4, p {
        margin-bottom: 8px;
    }
}

/* Padding adjustments for mobile */
@media screen and (max-width: 500px) {
    .profile {
        padding: 24px;
    }
    
    .education {
        padding: 24px;
    }
}